/** @format */

* html,
body,
body * {
  font-family: 'Lato', sans-serif;
}

body {
  /*position: relative;*/
    padding: 5px;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 8px;
    /*justify-items: center ;
    box-shadow: inset 0 0 7px #b2b2b2 !important;
    background-color: white;*/
    /*background: linear-gradient(to bottom, #404040 0%, #404040 100px, transparent 100px, transparent 100%);*/
}

.blackdiv{
    width: 100%;
    background: linear-gradient(to bottom, #404040 0%, #404040 115px, transparent 115px, transparent 100%);
    border-radius: 8px;
    box-shadow: inset 0 0 7px #b2b2b2 !important;
    padding-top: 10px;
}
.spinner {
  position: absolute;
  z-index: 50000;
  width: 20%;
  margin: 150px 40%;
  display: none;
}

.container {
  padding: 10px;
  width: 98%;
  margin: auto;
  
}

.container#shrinkMe {
  position: relative;
}

/*messi blocco destra*/
.rightBlockContainer{
  margin: 0;
  padding: 10 0 0 0 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align rows to the top */
  width: 100%;
}

.rightBlockRow{
  margin: 0;
  padding: 0 !important;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center content horizontally in the row */
  min-height: 30px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.firstRow{
    min-height: 37px;
    width: 100%;
    justify-content: space-between;
    display:flex !important;
}

.rightBlockItem{
  margin: 0;
  padding: 0 !important;
  display: flex; /* Flexbox to center content */
  justify-content: center; /* Center content horizontally inside the item */
  align-items: center; /* Center content vertically inside the item */
  text-align: center;
}





div#riga_boxTabDati {
  padding: 10px;
  /*messiB*/
  background-color: #FBEAEB;
}

input {
  padding-right: 8px;
}
/*messi*/
#riga_box_importi{
 vertical-align: middle;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

div#riga_box_importi > div:first-child {
  text-align: left;
}

div#riga_box_importi > div:nth-child(2) {
  text-align: center;
}

div#riga_box_importi > div:nth-child(3) {
  text-align: right;
}

div#rigaUnder_box_importi > div {
  padding-top: 0;
  margin-top: 0px !important;
  padding-bottom: 5px;
}

div.inRosso#labelRimbo {
  background: #f2711c;
  color: #ffffff;
  font-weight: 700;
}

div#rigaUnder_box_importi {
  margin-top: 0;
}

div#box_under_label_BONUS,
div#box_under_label_RIMB {
  font-size: 0.95em;
}

i#under_label_BONUS,
i#under_label_RIMB {
  font-size: 0.95em;
  color: white; /*#db2828*/
  font-weight: 900;
}

div#thisMultiNameBox {
  display: none;
  min-width: fit-content;
  margin: 0px auto 4px;
  text-align: center;
  /* border: 3px solid; */
  max-width: fit-content;
  padding: 8px 8px;
  background: #00b5ad;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 900;
  box-shadow: 3px 3px 4px 0px #939393;
}

div#GridDati_input {
  display: grid;
  /* grid-template-columns: 0.4fr 2.7fr 1.2fr 1fr 0.7fr 0.7fr 0.65fr; */
  grid-template-columns: 0.4fr 0.4fr 2.5fr 1.2fr 1fr 0.7fr 0.7fr 0.65fr;
  grid-template-rows: auto auto auto auto auto auto;
  width: 100%;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

#GridDati_input > .dutcher-button {
  margin: 0;
  padding: 7px;

  /* display: none !important; */
}

.dutcher-button__box {
  display: flex;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.dutcher-button__button {
  align-self: stretch;
  margin: 0 !important;
}

div#GridDati_input input {
  width: 100%;
  border: unset;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 8px;
}

div#GridDati_input input:disabled {
  background: #dcdcdc00;
  font-style: italic;
  opacity: 0.75;
}

div#GridDati_input [class*='rigaAgg_'] input:disabled {
  border: 1px solid #cecece;
}

div#GridDati_input .grid_firstRow,
div#GridDati_input .grid_th {
  text-align: center;
  font-weight: 600;
}

#GridDati_input div.grid_th.grid_row_0.grid_firstRow {
  border: 0px;
}

#GridDati_input [class*='grid_row_'].hoverMe {
  border: 2px solid #2F3C7E; /*messi 007f79*/
  /*#515151;*/
  /*#ce0000;*/
  color: #ce0000;
  /*#025c58;*/
  /*#e20000;*/
  font-weight: bold;
  box-shadow: 3px 3px 3px #2F3C7E !important; /*messi 588282*/
}

#GridDati_input [class*='grid_row_'].dutcher-button.hoverMe {
  color: #ffffff;
}

#GridDati_input [class*='grid_row_'].hoverMe input {
  color: #ce0000;
  /*#025c58;*/
  /*#e20000;*/
  font-weight: bold;
  font-size: 0.95em;
  border: unset;
}

div#GridDati_input > div:not(.dutcher-button) {
  border-top: 1px solid #cecece;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #cecece;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  padding: 4px;
}

div#GridDati_input > div[class*='grid_row_'].grid_cell.grid_lastCol {
  position: relative;
}

div#GridDati_input > div[class*='grid_row_'].grid_cell.grid_lastCol.sonoBloc {
  border: 2px solid #db2828;
  border: 1px solid #db2828;
  background: #f5c4c4;
}

div#GridDati_input
  > div[class*='grid_row_'].grid_cell.grid_lastCol.sonoBloc
  label {
  color: #db2828;
}

div#GridDati_input > div[class*='grid_row_'].grid_cell.grid_lastCol > i.icon {
  position: absolute;
  right: -3px;
  bottom: 2px;
  color: #db2828;
}

div#blocMsgBox {
  grid-column: 2/5;
  border: 0px solid !important;
  text-align: left;
  /*color: #db2828;*/
}

div#blocMsgBox .normalBloc {
  color: #2F3C7E; /*messi 10a3a3*/
}

div#blocMsgBox .redBloc {
  color: #db2828;
}

div#GridDati_input > div#AgendeBtnBox {
  padding: 0px;
  border: 0px;
  grid-column: 6/9; /*messi*/
}

div#GridDati_input > div#AgendeBtnBox button {
  box-shadow: 1px 2px 3px 0px #555555;
  min-width: 50px;
  max-height: 28px;
  padding: 0;
}

div#GridDati_input div[type='button'] {
  cursor: pointer;
}

div#GridDati_input .grid_cell.grid_rigaAgg {
  /* grid-column: 1/8; */
  grid-column: 1/9;
  display: none;
  min-height: 100px;
  grid-template-columns: 2fr 5fr;
}

.unaRiga.box_datiNew.div_header {
  font-weight: 800;
  color: #046969;
}

.green .unaRiga.box_datiNew.div_header {
  font-weight: 800;
  color: #14741f;
}

.grid_rigaAgg.ui.green.message {
  color: #14741f;
}

.red .unaRiga.box_datiNew.div_header {
  font-weight: 800;
  color: #640000;
}

.grid_rigaAgg.ui.red.message {
  color: #640000;
}

div#qTot_div {
  grid-column: 5/6;
}

div#qTot_div {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid;
  border-radius: 4px;
  /* margin: 2px 10px; */
  line-height: 16px;
  padding: 5px 2px 5px 10px !important;
  height: 30px;
  border-color: #2F3C7E !important; /* messi 10a3a3*/
  color: #2F3C7E;
  background-color: #ffffff;
}

div#sx_Agg1,
div#sx_Agg2,
div#sx_Agg3,
div#sx_Agg4,
div#sx_Agg5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid;
  border-radius: 3px;
}

div#dx_Agg1,
div#dx_Agg2,
div#dx_Agg3,
div#dx_Agg4,
div#dx_Agg5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div#sx_Agg1,
div#dx_Agg1,
div#sx_Agg2,
div#dx_Agg2,
div#sx_Agg3,
div#dx_Agg3,
div#sx_Agg4,
div#dx_Agg4,
div#sx_Agg5,
div#dx_Agg5 {
  grid-template-rows: 38px repeat(6, 32px);
}

div#GridDati_input .grid_cell.grid_rigaAgg div {
  padding: 5px 10px;
}

div#quotaB_New0_M1,
div#banca_New0_M1,
div#respo_New0_M1,
div#respo_Cal0_M1,
div#comm_New0_M1,
div#quotaB_New0_M2,
div#banca_New0_M2,
div#respo_New0_M2,
div#respo_Cal0_M2,
div#comm_New0_M2,
div#quotaB_New0_M3,
div#banca_New0_M3,
div#respo_New0_M3,
div#respo_Cal0_M3,
div#comm_New0_M3,
div#quotaB_New0_M4,
div#banca_New0_M4,
div#respo_New0_M4,
div#respo_Cal0_M4,
div#comm_New0_M4,
div#quotaB_New0_M5,
div#banca_New0_M5,
div#respo_New0_M5,
div#respo_Cal0_M5,
div#comm_New0_M5 {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid;
  border-radius: 4px;
  margin: 2px 10px;
  line-height: 14px;
}

div.boxRadioDch_ext div {
    /*messi*/
  padding: 2px 4px !important;
}

div.boxRadioDch {
  border: 1px solid;
  border-radius: 4px;
}

.grid_col {
  margin: 0 !important;
  padding: 0 !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 32px);
}

.blocco_dx div.calcolati {
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  margin: 2px 10px;
  line-height: 14px;
}

.grid_rigaAgg .unaRiga.respo_Dati {
  background: yellow;
  color: red;
}

.grid_rigaAgg .unaRiga.respo_OLD {
  background: rgba(255, 255, 236, 1);
  color: rgb(202, 31, 31);
  font-style: italic;
  font-size: 13px !important;
  font-weight: bold;
}

.inputAbb {
  font-weight: bold;
  color: blue !important;
  /*background: #F8CAD0 !important;*/
}

.bancaTEOR {
  background: #f8cad0 !important;
  border-color: #f8cad0 !important;
  color: black !important;
  font-weight: bold;
}

.unaRiga.box_datiNew.R_pari.rigazero.A,
.unaRiga.box_datiNew.R_pari.rigazero.B {
  text-align: center;
  font-weight: 600;
}

.unaRiga.box_datiNew.R_pari.rigazero.A {
  grid-column: 1/3;
}

.unaRiga.box_datiNew.R_pari.rigazero.B {
  /* grid-column: 1/6;
	position: relative; */

  grid-column: 1/6;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px !important;
}

.rigazero.B div.box_copertura {
  /* position: absolute;
    top: 0;
    right: 0;
	display: none; */

  display: none;
  justify-self: right;
  margin: auto 0px;
  text-align: center;
}

.rigazero.B div.box_copertura span.rosso,
.rigazero.B div.box_copertura span.verdino,
.rigazero.B div.box_copertura span.verde,
.rigazero.B div.box_copertura span.blu {
  border: 2px solid;
  border-radius: 6px;
  padding: 1px 8px;
}

.rigazero.B div.warningMsg[id*='warning_M'] {
  /* position: absolute;
    left: 8px;
    top: 0;
    border: 1px solid;
    margin: 3px auto 2px;
    background: #ffffff;
    color: #000000;
    border-radius: 4px;
    padding: 0px 10px !important; */

  border: 1px solid;
  margin: auto 5px;
  background: #ffffff;
  color: #000000;
  border-radius: 4px;
  padding: 0px 10px !important;
  height: 80%;
  justify-self: left;
}

.rigazero.B div.verde.warningMsg[id*='warning_M'] {
  background: #ffffff;
  color: #1ebc30;
}

.rigazero.B div.rosso.warningMsg[id*='warning_M'] {
  background: #ffffcd;
  color: #c80808;
  font-size: 1.2em;
}

.rigazero.B div.box_copertura span.rosso {
  background: red;
  color: white;
}

.rigazero.B div.box_copertura span.verdino {
  background: lightgreen;
  color: white;
}

.rigazero.B div.box_copertura span.verde {
  background: darkgreen;
  color: white;
}

.rigazero.B div.box_copertura span.blu {
  background: blue;
  color: white;
}

.ui.form div#GridDati_input .grid_cell .inline.fields .field {
  padding-right: 4px;
}

.ui.form div#GridDati_input .grid_cell .inline.fields {
  margin-bottom: 0px;
  justify-content: space-evenly;
}

.blocco_sx .rigazero,
.blocco_dx .rigazero {
  background: #31a2a2;
  color: white;
  line-height: 28px;
  margin-bottom: 2px;
}

.green .blocco_sx .rigazero,
.green .blocco_dx .rigazero {
  background: #1ebc30;
  color: white;
  line-height: 28px;
  margin-bottom: 2px;
}

.red .blocco_sx .rigazero,
.red .blocco_dx .rigazero {
  background: #ce0000;
  color: white;
  line-height: 28px;
  margin-bottom: 2px;
}

.separator {
  grid-column: 1/3;
  border-bottom: solid;
  margin: 10px 0px 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
}

.label_separator {
  position: absolute;
  top: -4px;
  width: 40%;
  left: 30%;
  padding: 2px 10px !important;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  z-index: 10;
  background: white;
}

span.label_CP#labelSep_M1,
span.label_CP#labelSep_M2,
span.label_CP#labelSep_M3,
span.label_CP#labelSep_M4,
span.label_CP#labelSep_M5 {
  padding: 2px 5px;
  background: #f9db91;
  color: #086d6d;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

.green span.label_CP#labelSep_M1,
.green span.label_CP#labelSep_M2,
.green span.label_CP#labelSep_M3,
.green span.label_CP#labelSep_M4,
.green span.label_CP#labelSep_M5 {
  color: #14741f;
}

.red span.label_CP#labelSep_M1,
.red span.label_CP#labelSep_M2,
.red span.label_CP#labelSep_M3,
.red span.label_CP#labelSep_M4,
.red span.label_CP#labelSep_M5 {
  color: #640000;
}

span.label_CP#labelSep_M1::after,
span.label_CP#labelSep_M2::after,
span.label_CP#labelSep_M3::after,
span.label_CP#labelSep_M4::after,
span.label_CP#labelSep_M5::after {
  content: 'Contropunta';
}

span.label_DCH#labelSep_M1,
span.label_DCH#labelSep_M2,
span.label_DCH#labelSep_M3,
span.label_DCH#labelSep_M4,
span.label_DCH#labelSep_M5 {
  padding: 2px 5px;
  background: #64b7fb;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}

span.label_DCH#labelSep_M1::after,
span.label_DCH#labelSep_M2::after,
span.label_DCH#labelSep_M3::after,
span.label_DCH#labelSep_M4::after,
span.label_DCH#labelSep_M5::after {
  content: 'Dutching';
}

.R_pari {
  background: #b6ecec;
}

.green .R_pari {
  background: #97ed9b;
}

.red .R_pari {
  background: #ed9797;
}

.grid_rigaAgg div.boxCP {
  /*padding-left: 0px !important;	*/
  width: 100%;
  display: grid;
  grid-column: 1/2;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 3px;
}

div.boxInfoCP {
  grid-column: 3/6;
  font-weight: bold;
  color: #ad5406;
  border: 1px solid #ad5406;
  border-radius: 4px;
  text-align: center;
  font-size: 1.1em;
}

div.boxInfoDCH {
  grid-column: 4/7;
  /*grid-column: 3/6;*/
  font-weight: bold;
  color: #317dff;
  border: 1px solid #317dff;
  border-radius: 4px;
  text-align: center;
  font-size: 1.1em;
}

div.intestaBox_CP {
  grid-column: 1/3;
  font-weight: bold;
  /*border-bottom: 1px solid;*/
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
  width: 100%;
  margin: auto;
  color: #086d6d;
  display: inline-grid;
  padding: 0 !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 36px;
  align-items: center;
}

.green div.intestaBox_CP {
  color: #14741f;
}

.red div.intestaBox_CP {
  color: #640000;
}

div#boxCP_dx_M1,
div#boxCP_dx_M2,
div#boxCP_dx_M3,
div#boxCP_dx_M4,
div#boxCP_dx_M5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2px 5px !important;
}

div.boxDCH_dx {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 2;
}

div.boxDCH_dx,
div.boxCP_sx {
  padding: 2px 5px !important;
}

.Dch_labelBox {
  padding: 0px 4px !important;
}

span.Dch_label {
  text-align: center;
  font-size: 12px;
  font-weight: 900;
  color: white;
  background: #767676;
  margin: 3px 0px;
  border-radius: 4px;
  padding: 3px 8px;
  line-height: 36px;
}

div#optimalOddBox_M1,
div#optimalOddBox_M2,
div#optimalOddBox_M3,
div#optimalOddBox_M4,
div#optimalOddBox_M5 {
  display: none;
  grid-column: 1/6;
  text-align: center;
  border: 2px solid #e0a596;
  /*#66b1ff;*/
  margin: 5px 20px;
  padding: 4px !important;
  border-radius: 60px;
  background: #f9db91;
  /*#CCE5FF;*/
  color: #ad5406;
  /*#0060c3;*/
  font-family: Open sans-serif;
  font-weight: 800;
  font-size: 14px;
}

div#optimalDCHBox_M1,
div#optimalDCHBox_M2,
div#optimalDCHBox_M3,
div#optimalDCHBox_M4,
div#optimalDCHBox_M5 {
  display: none;
  grid-column: 1/7;
  text-align: center;
  border: 2px solid #66b1ff;
  margin: 5px 20px;
  padding: 4px !important;
  border-radius: 60px;
  background: #cce5ff;
  color: #0060c3;
  font-family: Open sans-serif;
  font-weight: 800;
  font-size: 14px;
}

span#cfrOdd_M1,
span#cfrOdd_M2,
span#cfrOdd_M3,
span#cfrOdd_M4,
span#cfrOdd_M5 {
  background: #f5c6cb;
  padding: 2px 6px;
  border: 0.5px solid white;
  color: black;
  margin: 6px;
}

span#cfrDCH_M1,
span#cfrDCH_M2,
span#cfrDCH_M3,
span#cfrDCH_M4,
span#cfrDCH_M5 {
  background: #f5c6cb;
  padding: 2px 6px;
  border: 0.5px solid white;
  color: black;
  margin: 6px;
}

div.gridTotsx {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
  font-size: 0.75em;
  padding: 2px !important;
  grid-template-rows: 0px;
  opacity: 0;
}

div.gridTotdx {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  padding: 2px !important;
  font-size: 0.75em;
  grid-template-rows: 0px;
  opacity: 0;
}

div#DivIntestazioneTabella {
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: 5px;
}

div#boxTabRisultatiIniziali {
  margin: auto;
  width: 70%;
}

div#riga_tab_risultati {
  margin-top: 1em;
}

#TabDati_input input {
  max-width: 120px;
}

#TabDati_input td:last-child input {
  max-width: 50px;
}

#TabDati_input td:nth-child(5) input,
#TabDati_input td:nth-child(6) input {
  max-width: 70px;
}

#TabDati_input td:nth-child(2) input {
  max-width: 170px;
}

.input-group-append span.input-group-text {
  /*min-width: 32px;*/
  text-align: center;
  /*display: block;*/
}

/*GRIGLIA RISULTATI*/
div#BoxGainRating {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

div#BoxGainRating p {
  margin-bottom: 2px;
}

/*messi*/
/*toggleInsurance*/
.switchInsurance {
      position: relative;
      display: inline-block;
      min-width: 60px ;
      height: 31px;
    }

.switchInsurance input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderToggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 0px 10px 10px 0px; 
}

.sliderToggle:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input:checked + .sliderToggle {
  background-color: #2196F3;
}

input:checked + .sliderToggle:before {
  transform:    translateX(26px);
}

/* Adding some glow effect */
.sliderToggle::after {
  content: '';
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.1), transparent);
  border-radius: 40px;
  transition: opacity 0.4s;
  opacity: 0;
}

input:checked + .sliderToggle::after {
  opacity: 1;
}



div#Grid_StartGain,
div#Grid_StartRating,
div#respo_Totale_Box,
div#guadagno_Totale_Box { /*messi*/
  /*grid-column: 1/6;*/
  /*width: 32%;*/
  margin: 8px 2px;
  font-size: 12px; /*18  messi*/
  font-weight: 600;
  padding: 8px 22px;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 2px 2px 4px #8a8a8a;
  /*messi*/
  height: 60px;
  width: 170px;
  text-align-last: center;
}


/*messi*/
.btnUnderP{
   margin: 0;
}

div#warning_stime {
  grid-column: 1/4;
}

span#Grid_StartGain_span {
  display: inline-block;
  vertical-align: middle;
  background: #fbfdef;
  padding: 3px 10px;
  border-radius: 0;
  border: 2px solid #000000;
  border-radius: 4px;
}

div#Grid_StartGain {
  /*margin: 8px auto 0px;*/
  background: #a492c7; /* messi 819600*/
  color: white;
}

div#Grid_StartRating {
  /*margin: 8px auto 0px;*/
  background: #6f94dd; /* messi b5cc18*/
  color: white; /* messi 395f14*/
}

span#Grid_StartRating_span {
  display: inline-block;
  vertical-align: middle;
  background: #fbfdef;
  padding: 3px 10px;
  border-radius: 0;
  border: 2px solid #000000;
  border-radius: 4px;
}

div#boxGridRisultatiIniziali {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 0.5fr 0.6fr 0px;
  /*grid-template-columns: 0.2fr 2fr 0.3fr 0.6fr 0.6fr;*/
  width: 100%;
  margin: 5px auto 0px;
  grid-row-gap: 4px;
  grid-column-gap: 4px;
}

div#boxGridRisultatiIniziali.vis-hidden {
  display: none;
}

div#divOfBtns {
  margin: auto;
  width: 50%;
  text-align: center;
  display: inline-block;
}

div#divOfBtns2 {
  margin: auto;
  width: 50%;
  text-align: center;
  display: inline-block;
}

div#gridOfBtns {
  position: relative;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    
  /*
   * display: grid;
   * grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr 0.4fr 0.4fr 0.4fr;*/
    /*messi
     *  0.8fr 1fr 1fr 0.8fr 1.2fr 0.4fr
     * */
  /*1.28fr 1.28fr 0.5fr 1fr 1fr 1fr; 1.5fr 1.5fr 0.1fr 1.1fr 1.1fr 1.1fr;*/
}
div.splitButton{
  position: relative;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;    
}
/*messi*/
.input_importi{
      /*grid-column: 1/6;*/
  /*width: 32%;
  margin: 8px 2px;*/
  font-size: 12px; /*18  messi*/
  font-weight: 600;
  padding: 8px 22px;
  border-radius: 4px;
  display: inline-block;

  /*messi*/
 /* height: 80px;*/
  min-width: 200px;
  text-align-last: center;

}

.input_importi_small{
  font-size: 12px; /*18  messi*/
  font-weight: 600;
  padding: 8px 22px;
  border-radius: 4px;
  display: inline-block;
  /*messi*/
 /* height: 80px;*/
  min-width: 150px;
  text-align-last: center; 
}

.input_importi_magg{
  font-size: 12px; /*18  messi*/
  font-weight: 600;
  padding: 0px 10px 0px 0px;
  border-radius: 4px;
  display: inline-block;

  /*messi*/
 /* height: 80px;*/
  min-width: 200px;
  text-align-last: center;
}
i#resetIcon {
  margin: auto;
}

div#gridOfBtns button {
  /* grid-column: 1/6;
	display: inline-block;
    text-align: center;
    font-size: 1.2em
    padding: 5px;
    width: 23%;*/
  margin: 10px 4px;
  font-weight: 900;
  box-shadow: 1px 2px 3px 0px #555555;
  /*cursor: pointer;*/
  position: relative;
}

button#DivIntestazioneGrid {
  /* grid-column: 1/6; */
  display: inline-block;
  text-align: center;
  /*font-size: 1.2em;*/
  /*padding: 5px;*/
  /*width: 23%;*/
  margin: 10px 6px;
  font-weight: 900;
  box-shadow: 1px 2px 3px 0px #555555;
  /*cursor: pointer;*/
  position: relative;
}

button#DivIntestazioneGrid_2 {
  /* grid-column: 1/6; */
  display: inline-block;
  text-align: center;
  /*font-size: 1.2em;*/
  /*padding: 5px;*/
  /*width: 23%;*/
  margin: 10px 6px;
  font-weight: 900;
  box-shadow: 1px 2px 3px 0px #555555;
  /*cursor: pointer;*/
  position: relative;
}

i#occhio_set,
i#occhio_res,
i#pencil_edit,
i#disk_save,
i#cloud_load {
  margin: auto;
    /*messi
     *   margin-right: 5px;
         width: 50px;
     * */
}

div#statusMatch {
  position: relative;
  top: -34px;
  width: 25%;
}

#statusSet_Box div.lightMe,
#statusResults_Box div.lightMe,
#statusRating_Box div.lightMe {
  background: #ffffab;
}

#statusSet_Box div.lightMe.theEnd,
#statusResults_Box div.lightMe.theEnd,
#statusRating_Box div.lightMe.theEnd {
  background: #21ba45;
  font-size: 1.4em;
  color: #ffffff;
  text-align: center;
}

#statusSet_Box div.turnOffme,
#statusResults_Box div.turnOffme,
#statusRating_Box div.turnOffme {
  background: #e0e0e0;
  color: #cccccc;
}

/* #statusResults_Box div.lightMe {
    background: #ffffab;
}

#statusResults_Box div.turnOffme {
	background: #e0e0e0;
    color: #cccccc;
}
 */
div.badgeOnGo {
  border: 1px solid;
  border-radius: 4px;
  margin: 2px 2px 2px;
  padding: 3px 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

div#boxGridRisultatiIniziali .gridRow.grid_Risult_Int,
div#boxGridRisultatiIniziali .gridRow.gridCol_Int {
  /*border-top: 1px solid;*/
  background: #819600;
  color: white;
}

div#boxGridRisultatiIniziali div.gridRow {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  color: #5c6b00;
  position: relative;
}

div#boxGridRisultatiIniziali div.gridRow.waitLay {
  border-color: #5c6b00;
  color: #dcdecd;
}

div#boxGridRisultatiIniziali div.righty {
  text-align: right;
}

div.layYES[id*='warnS_M'] {
  /*position: absolute;
    top: 1px;
    left: 2px;
    font-size: 10px;*/
  padding: 1px 1px;
  background: #97ed9b;
  border-radius: 4px;
  border: 1px solid;
  text-align: center;
  font-weight: 900;
}

div.layNO[id*='warnS_M'] {
  /*position: absolute;
    top: 1px;
    left: 2px;
    font-size: 10px;*/
  padding: 1px 3px;
  background: #dd1313;
  border-radius: 4px;
  border: 1px solid;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
}

div#boxGridRisultatiIniziali div.gridRow.gridCol_Last {
  /*border-right: 1px solid;*/
  visibility: hidden;
}

div#respo_Totale_Box {
  /*grid-column: 5/6;*/
  /*border: 2px solid !important;*/
  background: #6ccfe6; /*messi ebff66*/
  color: white;    
}
/*messi*/
div#guadagno_Totale_Box {
  /*grid-column: 5/6;*/
  /*border: 2px solid !important;*/
  background: #36cdc6; /*#00b5ad*/
  color: white;
}

span#respo_Totale {
  /*font-size: 1.2em;*/
  color: #009c00; /*messi */
  background: #fbfdef;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px;
  border: 2px solid #000000;
  border-radius: 4px;
}
/*messi*/
span#guadagno_Totale {
  /*font-size: 1.2em;*/
  color: #009c00; /*messi */
  background: #fbfdef;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px;
  border: 2px solid #000000;
  border-radius: 4px;
}

span#Grid_StartGain_span {
  display: inline-block;
  vertical-align: middle;
  background: #fbfdef;
  padding: 3px 10px;
  border-radius: 0;
  border: 2px solid #000000;
  border-radius: 4px;
}


span#respoTot_prefix {
  font-size: 1em;
  color: #485303 !important;
}

div#boxGridRisultatiIniziali div.gridRow.gridCol_Int,
div#boxGridRisultatiIniziali div.gridRow.grid_Risult_Int {
  font-size: 1.1em;
  font-weight: bold;
}

/*GRIGLIA RISULTATI*/

/*GRIGLIA SVILUPPO*/
div#boxGridSviluppo {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 6fr;
}

div#boxGridSviluppo.vis-hidden,
div#boxSviluppo.vis-hidden {
  display: none;
}

div#statusResults_Box {
  width: 100%;
}

div#statusSet_Box {
  width: 100%;
}

div#statusSet_Box_Int,
div#statusResults_Box_Int,
div#statusRating_Box_Int {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

div#statusMessage_Box {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  width: 90%;
  margin: 0px auto;
  border: 1px solid #eacf8e;
  /* height: 100%; */
  /* line-height: 161px; */
  align-self: end;
  padding: 8px 30px 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px #bbb;
}

div#statusMessage_Box.warningMsg {
  background: #db2828;
  color: #ffffff;
}

div#statusMessage_Box.progressMsg {
  background: #00b5ad;
  color: #e1f7f7;
}

div#statusMessage_Box.waitingMsg {
  background: #3d96d9;
  color: #ffdcc5;
}

div#statusMessage_Box.winningMsg {
  background: #21ba45;
  color: #ffffff;
}

div#statusMessage_Box.endMsg {
  background: #767676;
  color: #ffffff;
}

div#statusMessage_Container {
  align-self: center;
  margin-top: 4px;
}

div#ratingOnGo_Box {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1.8fr;
  margin: 4px auto 0px;
  border-radius: 4px;
  border: 1px solid #b58105;
  /*background: #ffffff;*/
  color: #b58105;
  padding: 0px;
  width: 90%;
  font-size: 1.2em;
  font-weight: 700;
  /*grid-row-gap: 5px;*/
}

div#ratingOnGo_Box > div,
div#ratingOnGo_Box > span {
  padding: 5px 5px !important;
  text-align: center;
}

span#onGoLab {
  /*grid-column: 1/3;*/
  grid-row: 1/3;
  /*text-align: center;*/
  align-self: center;
}

div#onGoW,
div#onGoL {
  width: 95%;
  margin: 4px auto;
  /*text-align: center;*/
  /*border-top: 1px solid;*/
  /*border-left: 1px solid;*/
  /*grid-column: 2/4;*/
}

span#onGoW_figure,
span#onGoL_figure {
  width: 80%;
  margin: 4px auto;
  border-radius: 40px;
  border: 2px solid #bc8105;
  /*0px solid transparent;*/
  background: #fbfdef;
  /*#21ba45;*/
  color: #000000;
}

/*GRIGLIA SVILUPPO*/

/*NUOVA GRIGLIA SVILUPPO*/
div#boxSviluppo {
  position: relative;
  display: grid;
  grid-template-columns: 70% 30%;
}

div#grigliaSV_doppia,
div#grigliaSV_tripla,
div#grigliaSV_quadrupla,
div#grigliaSV_quintupla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

div#grigliaSV_doppia div.esiti_int,
div#grigliaSV_tripla div.esiti_int,
div#grigliaSV_quadrupla div.esiti_int,
div#grigliaSV_quintupla div.esiti_int {
  grid-column: 1/5;
  font-size: 1.2em;
  margin-bottom: 6px;
  color: #db2828;
  font-style: italic;
}

.esiti_int,
.messaggi_int {
  text-align: center;
  font-size: 1.1em;
  font-weight: 900;
}

.messaggi_int {
  grid-column: 1/3;
  padding: 10px 16px;
  border: 1px solid;
  margin: 4px 180px 16px !important;
  border-radius: 6px;
  font-size: 1.4em;
  background: #ffeea5;
  box-shadow: 2px 3px 4px 0px #b1b1b5;
}

.SVresultBox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  border: 1px solid;
  text-align: left;
  border-radius: 4px;
  background: #e0e0e0;
  color: #b1b1b1;
  /*#CCCCCC;*/
  transition: transform 0.5s;
}

.lightMe0 .SVresultBox {
  background: #21ba45;
  color: #ffffff;
  box-shadow: 2px 2px 2px #727272;
  transform: scale(1.3) translateY(-2px);
}

.lightMe1 .SVresultBox {
  /*background: rgba(208, 240, 248, 1);
    color: rgba(191, 143, 0, 1);*/
  background: #00b5ad;
  color: #ffffff;
}

.lightMe2 .SVresultBox {
  background: #1678c2;
  color: #ffffff;
}

.lightMe3 .SVresultBox {
  background: #f2711c;
  /*#fbbd08;*/
  color: #ffffff;
}

.lightMe4 .SVresultBox {
  background: inherit;
  color: inherit;
}

.doppiaBox .SVresultBox,
.triplaBox .SVresultBox,
.quadruplaBox .SVresultBox,
.quintuplaBox .SVresultBox {
  margin: 4px 2px;
}

.SV_earn {
  grid-row: 1/3;
  align-self: center;
  padding-left: 6px;
  font-size: 1.1em;
  font-weight: 900;
}

.SV_story {
  line-height: normal;
  text-align: right;
  padding-top: 2px;
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  margin: 3px auto;
  border-radius: 4px;
  border: 1px solid;
  width: 90%;
}

[class^='lightMe'] .SV_story {
  background: #f5f589;
  color: #696969;
}

.SV_rat {
  line-height: normal;
  text-align: right;
  padding-bottom: 2px;
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  border-top: 1px solid;
}

div#messaggioSV {
  justify-self: center;
  align-self: center;
  margin-left: 35px;
}

div#messaggioSV_tagL {
  font-size: 1.4em;
  font-weight: 900;
  /*background: #2185d0;
	color: #FFdcc5;*/
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 2px 3px 4px 0px #b1b1b5;
}

div#messaggioSV_txt {
  text-align: center;
  margin-top: 16px;
  font-size: 1.4em;
  color: #db2828;
}

/*NUOVA GRIGLIA SVILUPPO*/

/*CHECK TOGGLE*/
.switchContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.switchContainer#switchContainerBlock {
  grid-column: 1/1;
  position: relative;
  border: 0px;
}

.switchBox {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 22px;
  background: #cecece;
  overflow: hidden;
  cursor: pointer;
}

.switchBox#switchBoxBlock {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 22px;
  background: #cecece;
  overflow: hidden;
  cursor: pointer;
}

.ON,
.OFF,
.SWITCH {
  position: absolute;
}

.ON,
.OFF {
  width: 100%;
  height: 100%;
  line-height: 0;
}

.ON {
  left: -100%;
  top: 0%;
  text-align: left;
  background: #64b7fb;
  /*#33ce18;*/
  transition: 0.4s;
}

.ON#ON_block {
  background: #db2828;
}

.OFF {
  right: 0%;
  top: 0%;
  text-align: right;
  background: #f9db91;
  transition: 0.4s;
}

.OFF#OFF_block {
  background: #b1bdbd;
}

.SWITCH {
  width: 15%;
  height: 95%;
  background: #ffffff;
  left: 2.5%;
  top: 2.5%;
  transition: 0.4s;
}

.SWITCH#SWITCH_block {
  width: 30%;
  height: 95%;
  background: #ffffff;
  left: 2.5%;
  top: 2.5%;
  transition: 0.4s;
}

.ON::after {
  content: 'Dutching';
  padding-left: 15px !important;
  font-size: 0.9em;
  line-height: 12px;
  /*1.6em;*/
  font-weight: 900;
  color: #ffffff;
}

.ON#ON_block::after {
  content: '';
  padding-left: 15px !important;
  font-size: 0.9em;
  line-height: 22px;
  /*1.6em;*/
  font-weight: 900;
  color: #ffffff;
}

.OFF::after {
  content: 'Contropunta';
  padding-right: 7px !important;
  font-size: 0.9em;
  line-height: 12px;
  /*1.6em;*/
  font-weight: 900;
}

.OFF#OFF_block::after {
  content: '';
  padding-right: 7px !important;
  font-size: 0.9em;
  line-height: 22px;
  /*1.6em;*/
  font-weight: 900;
}

#onBloc_icon {
  margin-left: 15%;
  color: #ffffff;
}

#offBloc_icon {
  margin-left: 40%;
  color: #ffffff;
}

.mySWcheck:checked ~ .SWITCH {
  left: 82.5%;
}

.mySWcheck:checked ~ .OFF {
  right: -100%;
}

.mySWcheck:checked ~ .ON {
  left: 0%;
}

.mySWcheck {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /*z-index: 100;*/
}

.myBlockcheck:checked ~ .SWITCH#SWITCH_block {
  left: 65.5%;
}

.myBlockcheck:checked ~ .OFF#OFF_block {
  right: -100%;
}

.myBlockcheck:checked ~ .ON#ON_block {
  left: 0%;
}

.myBlockcheck {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /*z-index: 100;*/
}

div#GridDati_input .boxCP_sx .intestaBox_CP .switchContainer .switchBox div.ON,
div#GridDati_input .boxCP_sx .intestaBox_CP .switchContainer .switchBox div.OFF,
div#GridDati_input
  .boxCP_sx
  .intestaBox_CP
  .switchContainer
  .switchBox
  div.SWITCH {
  padding-left: 0;
  padding-right: 0;
}

/*CHECK TOGGLE*/

form#sintesi_form input#formString {
  width: 96% !important;
  /*display: none;*/
  margin: 0px 20px !important;
  /*height: 200px;*/
}

form#sintesi_form {
  position: absolute;
  width: 100%;
  opacity: 0;
  display: none;
  left: -3000px;
}

form#sintesi_form input {
  width: 20% !important;
  border-radius: 4px;
  /*display: none;*/
  margin: 2px 20px !important;
  height: 38px;
  border: 1px solid #22242626;
}

/*MODAL LISTA MULTIPLE*/
button.listBox_btn {
  width: 100%;
}

div#int_row {
  font-size: 15px;
  font-weight: 900;
  border-bottom: 3px double rgb(139, 139, 139);
}

div#int_row,
div.content_row {
  display: grid;
  grid-template-columns: 2fr 1.4fr 1fr 1fr 0.7fr 0.7fr;
  grid-column-gap: 3px;
  margin-bottom: 3px;
  line-height: 30px;
}

div#list_Box {
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

div.tab_salva_Name {
  color: #23739a;
  font-weight: 900;
  /* background: bisque;
	position: relative;*/
}

/* div.selPopup[id*='mulPopUp'] {
	display: none;
	position: absolute;
	background: black;
	color: white;
} */

div.selPopup[id*='mulPopUp'] p {
  margin: 0px auto;
  /*font-size: .8em;*/
}

.ui.popup.selPopup {
  background: #1166a7;
  /*#c6e5fd;*/
  border: 0px;
  color: #ffffff;
  min-inline-size: max-content;
}

.ui.popup.selPopup:before,
.ui.popup.selPopup.left.center:before,
.ui.popup.selPopup.right.center:before {
  background: #1166a7;
  /*#c6e5fd;*/
  border: 0px;
  color: #ffffff;
}

div.tab_salva_Name.aiem,
div.tab_update_Name.aiem input {
  color: red;
  font-weight: 900;
  font-style: italic;
  /* background: bisque; */
}

div.tab_salva_Doll {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 130, 0, 1);
}

div.tab_update_Doll {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 130, 0, 1);
}

div.topoOn .ui.blue.button[id*='caricaN'] {
  background: #0e4e7e;
}

div.topoOn .ui.red.button[id*='eliminaN'] {
  background: #9b0000;
}

div#confDel_Box {
  text-align: center;
  padding-top: 10px;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 25px;
  width: 100%;
  margin: auto;
}

div#NOsaved {
  font-size: 1.4em;
  text-align: center;
  font-weight: 800;
}

.tab_update.tab_update_btn.tab_UPD_btn {
  align-self: center;
  grid-column: span 2;
  width: 50%;
  justify-self: end;
}

div.tab_update_dati {
  align-self: center;
}

input[id*='nomenuovoN_'] {
  margin-right: 5px !important;
  font-size: 0.9em;
}

/*MODAL LISTA MULTIPLE*/

div#multiLocalBufferDet {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 0.5fr 0.5fr;
  margin-top: 8px;
}

div#multiLocalBufferDet .locMulTitles {
  font-weight: 900;
  color: #db2828;
}

span#locMulType {
  color: #216bba;
}

div#lastElm {
  min-height: 250px;
}

#msg_update_warning {
  padding: 1rem;
  width: 70%;
  margin: 1rem auto;
  background: #1166a7;
  border-radius: 4px;
  color: #ffffff;
}

.mult-name {
  border-bottom: 1px solid;
  font-weight: 700;
  font-size: 1.2rem;
}

#dutcher-paste__msg li {
  display: grid;
  grid-template-columns: 220px 1fr;
  font-weight: 600;
}

#dutcher-paste__msg li span {
  /* font-weight: 400; */
  /* font-size: 1.1rem; */
  color: #1166a7;
}
